MPJYO8_0929/orarend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:element name="orarend" type="orarend_type"/>

    <xs:complexType name="orarend_type">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="ora">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="targy" type="xs:string"/>
                        <xs:element name="idopont" type="idopont_type"/>
                        <xs:element name="helyszin" type="xs:string"/>
                        <xs:element name="oktato" type="xs:string"/>
                        <xs:element name="szak" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:unsignedByte" use="required"/>
                    <xs:attribute name="tipus" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="idopont_type">
        <xs:sequence>
            <xs:element name="nap" type="xs:string"/>
            <xs:element name="tol" type="xs:unsignedByte"/>
            <xs:element name="ig" type="xs:unsignedByte"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
