MPJYO8_1006/ember.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ember">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nev1"/>
        <xs:element ref="fizetes"/>
        <xs:element ref="nev"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nev1" type="xs:NCName"/>
  <xs:element name="fizetes" type="xs:integer"/>
  <xs:element name="nev" type="xs:NCName"/>
</xs:schema>
